gdown==5.2.0
matplotlib==3.4.1
mtcnn==0.1.1
numpy==1.19.5
opencv_python==4.11.0.86
pandas==1.2.3
Pillow==8.1.0
Pillow==11.1.0
streamlit==0.79.0
streamlit==1.42.0
tensorflow==2.5.0rc2
tensorflow==2.18.0
tensorflow_intel==2.18.0
